.vscode/
.vs/

# ASP.NET build results
bin/
obj/

# Node.js dependencies
node_modules/

# React build output
build/
dist/

# Log files
*.log

# Windows Installer files
Thumbs.db

# macOS system files
.DS_Store

# npm debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
